NEXTAUTH_SECRET="RD&%GI^&HY*O(IJPJOUYT%*&6t7)" # example RD&%GI^&HY*O(IJPJOUYT%*&6t7) 
NEXT_PUBLIC_API="" # example http://192.168.0.107:8000
NEXTAUTH_URL="http://localhost:3000" # example http://localhost:3000
NEXT_PUBLIC_WSS_API="ws://192.168.0.107:8000/ws/chat/" # example ws://192.168.0.107:8000/ws/chat/
NODE_ENV="development" #example development
FRONTEND_URL="http://localhost:3000" #example http://localhost:3000
